body {
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background-image: url('../img/AB.png');
    background-size: 100%;
}

.container {
    max-width: 1200px; 
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.car {
    flex: 0 0 calc(30% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.car img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.car img:hover {
    transform: scale(1.1);
}

.car:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#a {
    color: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border-color 1s ease;
}
#a:hover {
    border-color: orangered;
}

#b {
    color: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border-color 1s ease;
}
#b:hover {
    border-color: cyan;
}

.Log{
    padding-left: 1000px;
}

